{erl_opts, [debug_info]}.
{deps, [
    rabbit_common,
    amqp_client,
    recon,
    lager
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [zlogstatd]}
]}.

{relx, [
    {release, {zlogstatd, "0.1.0"},
        %% list of apps to include
        [zlogstatd]},

    %% Don't ship an Erlang VM by default
    {include_erts, false}
]}.

{profiles, [
    %% called as `rebar3 as prod <command>`
    {test, [
        {deps, [
            {meck, "0.8.12"}
        ]}
    ]},
    {prod, [
        {relx, [ % override relx specifically
            {include_src, false}, % don't include source code
            {include_erts, true}  % include the VM in the release
        ]}
    ]}
]}.
